/* article p{
    background: red;
    color: white;
    padding: 20px;
} */

article div p{
    background: blue;
    padding: 20px;
}

article > p{
    background: red;
    padding: 20px;
}

article ~ p{
    background: green;
    padding: 20px;
}

article + p{
    background: orange;
}

input:in-range{
    border: 2px solid green;
}

input:out-of-range{
    border: 2px solid red;
}

main p:last-child{
    background-color: pink;
}

#link:hover{
    background:blueviolet;
}


nav a{
    padding: 20px;
    margin: 20px;

}

nav{
        background-color: rgb(160, 160, 238);
        padding: 20px;
}

nav a:hover{
    background-color: rgb(111, 111, 238);
}

nav a:active{
    background: rgb(133, 238, 241);
}

nav a:visited{
    color: yellow;
}


