.dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: blanchedalmond;
    width: 150px;
    padding: 15px;
    box-shadow: 10px 10px 10px 10px black;
}

.tooltip{
    padding: 19px;
    display: inline-block;
    border: 2px dotted black;
}

.tooltip-text{
    visibility: hidden;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    width: 100px;
    background: black;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 140px;
    left: 6%;
    margin-left: -60px;
}

#example1{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 10px 30px;
}

#example2{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 10px 5px 15px 20px;
}

#example3{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
}

#example4{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-image: url(./OIP.webp);
}